/* تنظیمات عمومی */
body {
    font-family: 'IRANSans', Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    max-height: 500px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* جزئیات محصول */
.product-detail {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: flex-start; /* توضیحات و تصویر هم‌تراز بالا باشند */

}

.image-container {
    flex: 1 1 25%; /* اندازه تصویر کاهش پیدا کند */
    max-width: 25%;
    text-align: center;
}

.image-container img {
    width: 100%; /* تصویر متناسب با اندازه ظرف */
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.product-info {
    flex: 1 1 70%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 150px;
    direction: rtl; /* جهت متن را راست‌چین می‌کند */
    text-align: right; /* متن‌ها را راست‌چین می‌کند */
}

.product-info h3 {
    color: #222;
    font-size: 24px;
    margin-bottom: 10px;
    direction: rtl; /* جهت متن برای عناوین */
    text-align: right; /* راست‌چین کردن عناوین */
}

.product-info p {
    margin: 0;
    font-size: 16px;
    color: #555;
    direction: rtl; /* جهت متن پاراگراف‌ها */
    text-align: right; /* راست‌چین کردن پاراگراف‌ها */
}

.product-info strong {
    color: #000;
}

/* آپلود تصویر */
.upload-section {
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;
    width: 150px;
    height: 100px;
}

.upload-section h4 {
    margin-bottom: 20px;
    font-size: 12px;
    color: #444;
}

.upload-section button {
    border: #6c757d;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Vazirmatn", sans-serif;

}

.upload-section button:hover {
    background-color: #0056b3;
}

/* دکمه بازگشت */
.back-to-list {
    text-align: center;
    margin-top: -100px;
}

.back-to-list a {
    text-decoration: none;
    background-color: #1e82da;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
}

.back-to-list a:hover {
    background-color: #0f4c7a;
    color: #fff;
}
