{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'demand/css/demand.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<div class="container">
    <h2>لیست مطالبات</h2>
    <!-- فرم فیلتر تاریخ -->
<form method="GET" class="filter-form">
     <div class="form-group">
        <input type="text" data-jdp  name="end_date" placeholder="تاریخ پایان" autocomplete="off" value="{{ filters.end_date|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>
    <div class="form-group">
        <input type="text" data-jdp  name="start_date" placeholder="تاریخ شروع" autocomplete="off" value="{{ filters.start_date|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>

    <div class="form-group">
        <input type="text" name="customer" placeholder="مشتری" value="{{ filters.customer|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>

    <a href="{% url 'demand:demand' %}?clear_filters=1" class="reset-button">
    <i class="fas fa-trash"></i>
    </a>
    <button type="submit" class="filter-button">جستجو</button>
</form>

    <div class="table-container">
        <table>
            <caption><h4>جدول مطالبات</h4></caption>
            <thead>
                <tr>
                    <th style="width: 40px">شماره</th>
                    <th style="width: 200px">نام</th>
                    <th style="width: 70px">تاریخ سررسید</th>
                    <th style="width: 110px">مبلغ قسط</th>
                    <th style="width: 60px">شماره قسط</th>
                    <th style="width: 100px">مبلغ بازپرداخت</th>
                    <th style="width: 80px">جریمه</th>
                    <th style="width: 60px">نوع قسط</th>
                    <th style="width: 70px"> پرداخت قسط</th>
                </tr>
            </thead>
            <tbody>
                {% for installment in installments %}
                <tr>
                    <td style="width: 40px">{{ forloop.revcounter }}</td>
                    <td style="width: 200px">{{ installment.loan.customer.first_name }} {{ installment.loan.customer.last_name }}</td>
                    <td style="width: 70px">{{ installment.due_date|date:"Y-m-d" }}</td>
                    <td style="width: 110px">{{ installment.amount|intcomma:False }}</td>
                    <td style="width: 60px">{{ installment.ghest_count }}</td>
                    <td style="width: 100px">{{ installment.total_ghest_repaid|intcomma:False }}</td>
                    <td style="width: 80px">{{ installment.penalty_amount|intcomma:False }}</td>
                    <td style="width: 60px">{{ installment.ghest_type }}</td>
                    <td style="width: 70px">
                        <a href="{% url 'demand:create_repayment' installment_id=installment.id %}"><i class="fas fa-money-bill-wave" style="color: blue;" title="پرداخت"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">هیچ اقساطی یافت نشد</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td style="width: 40px"></td>
                    <td style="width: 200px"></td>
                    <td style="width: 70px">جمع کل</td>
                    <td style="width: 110px ; font-size: 13px" >{{ total_amount|intcomma:False }}</td>
                    <td style="width: 60px"></td>
                    <td style="width: 100px"></td>
                    <td style="width: 80px"></td>
                    <td style="width: 60px"></td>
                    <td style="width: 70px"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
<script>
    jalaliDatepicker.startWatch({
        minDate: "attr",
        maxDate: "attr",
        onSelect: function () {
            this.setAttribute('value', this.value);
        }
    });
</script>

{% endblock %}


