{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'sale/css/goldsale_list.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<div class="container">

    <h2>لیست فروش‌های طلا</h2>

<!-- فرم فیلتر تاریخ -->
<form method="GET" class="filter-form">
     <div class="form-group">
        <input type="text" data-jdp name="end_date" placeholder="تاریخ پایان" autocomplete="off" value="{{ filters.end_date|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>
    <div class="form-group">
        <input type="text" data-jdp name="start_date" placeholder="تاریخ شروع" autocomplete="off" value="{{ filters.start_date|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>
    <div class="form-group">
        <input type="text" name="customer" placeholder="مشتری" value="{{ filters.customer|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 12px;">
    </div>
    <div class="form-group">
        <input type="text" name="seller" placeholder="فروشنده" value="{{ filters.seller|default_if_none:'' }}" style="font-family: Vazirmatn, sans-serif; font-size: 11px;">
    </div>
    <a href="{% url 'sale:goldsale_list' %}?clear_filters=1" class="reset-button">
        <i class="fas fa-trash"></i>
    </a>
    <button type="submit" class="filter-button">جستجو</button>

</form>
    <!-- والد برای جدول -->
    <div class="table-container">
        <table>
            <caption><h4>لیست فروش طلا</h4></caption>
            <thead>
                <tr>
                    <th style="width: 30px">ردیف</th>
                    <th style="width: 140px">نام مشتری</th>
                    <th style="width: 30px"> فاکتور</th>
                    <th style="width: 40px">تایید مالی</th>
                    <th style="width: 70px">تاریخ فاکتور</th>
                    <th style="width: 40px">ثبت کالا</th>
                    <th style="width: 60px">وزن(گرم)</th>
                    <th style="width: 60px">تخفیف</th>
                    <th style="width: 90px">جمع فاکتور</th>
                    <th style="width: 90px">محاسبه سیستم</th>
                    <th style="width: 40px">پرداخت </th>
                    <th style="width: 90px">پرداختی مشتری</th>
                    <th style="width: 70px">مانده مشتری</th>
                    <th style="width: 70px">فروشنده</th>
                </tr>
            </thead>
            <tbody>
                {% for data in invoice_data %}
                    <tr>
                        <td style="width: 30px">{{ forloop.revcounter }}</td>
                        <td style="width: 140px">{{ data.invoice.customersale.first_name }} {{ data.invoice.customersale.last_name }}</td>
                        <td style="width: 30px">
                            <a href="{% url 'sale:goldsale_detail' data.invoice.id %}">
                                <i class="fas fa-file-alt"></i>
                            </a>
                        </td>
                        <td style="width: 40px">
                            {% if data.invoice.status == "paid" %}
                                <span style="color: green; font-size: 1em;">✔️</span>
                            {% else %}
                                <span style="color: red; font-size: 0.8em;">❌</span>
                            {% endif %}
                        </td>
                        <td style="width: 70px">{{ data.invoice.date }}</td>
                        <td style="width: 40px">
                            <a href="{% url 'sale:add_goldinvoice_items' data.invoice.id %}">
                                <i class="fas fa-shopping-cart" style="color: #3498DB;">{{ data.kalanum }}</i>
                            </a>
                        </td>
                        <td style="width: 60px">{{ data.invoice.calculate_total_weight }} </td> <!-- نمایش وزن -->
                        <td style="width: 60px">{{ data.invoice.total_discount|intcomma:False }}</td>
                        <td style="width: 90px; color: {% if data.invoice.total_calcu_amount > data.invoice.total_amount|add:200000 %}darkorange{% else %}inherit{% endif %}">
                            {{ data.invoice.total_amount|intcomma:False }}
                        </td>
                        <td style="width: 90px">
                            {{ data.invoice.total_calcu_amount|intcomma:False }}
                        </td>
                        <td style="width: 40px">
                            <a href="{% url 'sale:add_goldpayment' data.invoice.id %}">
                                <i class="fas fa-credit-card" style="color: #E67E22;"></i>
                            </a>
                        </td>
                        <td style="width: 90px; color: {% if data.invoice.total_paid < data.invoice.total_amount %}red{% else %}inherit{% endif %}">
                            {{ data.invoice.total_paid|intcomma:False }}
                        </td>

                        <td style="width: 70px">{{ data.invoice.total_remain_amount|intcomma:False }}</td>
                        <td style="width:70px">{{ data.invoice.seller.name }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="13">هیچ فروش طلایی در این بازه زمانی ثبت نشده است.</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td style="width: 30px"></td>
                    <td style="width: 140px"></td>
                    <td style="width: 30px"></td>
                    <td style="width: 40px"></td>
                    <td style="width: 70px"></td>
                    <td style="width: 40px">جمع</td>
                    <td style="width: 60px">{{ all_weight }}</td>
                    <td style="width: 60px">{{ all_discount|intcomma:False }}</td>
                    <td style="width: 90px">{{ all_amount|intcomma:False }}</td>
                    <td style="width: 90px">{{ all_calcu_amount|intcomma:False }}</td>
                    <td style="width: 40px"></td>
                    <td style="width: 90px">{{ all_paid|intcomma:False }}</td>
                    <td style="width: 70px">{{ all_remain_amount|intcomma:False }}</td>
                    <td style="width: 70px"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'assets/js/jalalidatepicker.min.js' %}"></script>
<script>
    jalaliDatepicker.startWatch({
        minDate: "attr",
        maxDate: "attr",
        onSelect: function () {
            this.setAttribute('value', this.value);
        }
    });
</script>
{% endblock %}

