/* استایل کلی جدول */
.table-container {
    margin-top: 30px;
    margin-left: 100px;
    white-space: nowrap;
    padding: 3px;
}

/* استایل کلی جدول */
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;  /* عرض جدول کاهش یافته */
    max-width: 1000px;  /* حداکثر عرض جدول */
    margin: 0 auto;  /* قرار دادن جدول در وسط صفحه */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* تنظیمات ستون‌های جدول */
thead, tfoot {
    display: table;
    table-layout: fixed;
    background-color: #37803a;  /* پس‌زمینه سبز برای هدر و فوتر */
    color: white;
}

/* بدنه جدول با اسکرول عمودی */
tbody {
    display: block;
    max-height: 250px;  /* حداکثر ارتفاع برای بدنه جدول */
    overflow-y: scroll;  /* فعال‌سازی اسکرول عمودی */
}

/* اسکرول مستقل برای بدنه جدول */
tbody tr {
    display: table;
    table-layout: fixed;
}

/* استایل‌های ردیف‌ها */
thead th, tbody td {
    padding: 5px;
    border: 1px solid #dcdcdc;
    text-align: center;
    font-size: 11px;
}

/* استایل فوتر */
tfoot td {
    padding: 6px;
    text-align: center;
    font-size: 11px;
}

/* رنگ متناوب برای ردیف‌های بدنه */
tbody tr:nth-child(even) {
    background-color: #d3d1d1;
}

/* استایل برای ردیف جمع کل */
tfoot {
    background-color: #8d9a75;
    color: white;
    font-weight: normal;
    font-size: 11px;
}

/* استایل فیلتر فرم */
.filter-form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 270px;
    padding: 5px;
    background-color: #dadada;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
}

.filter-form .form-group {
    margin-right: 10px;
}

.filter-form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    height: 15px;
    font-size: 12px;
}

.filter-button {
    padding: 4px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-family: "Vazirmatn", sans-serif;
    height: 25px;
}

.filter-button:hover {
    background-color: #2980b9;
}
