{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'assets/css/jalalidatepicker.min.css' %}" />
<link rel="stylesheet" href="{% static 'taskflow/css/project_list.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}


{% block content %}
<div class="projects-page">
  <div class="projects-title-row">
    <h2 class="projects-title">لیست پروژه‌ها</h2>
    <a href="#" id="open-create-project-modal" class="btn btn-primary">+ ایجاد پروژه </a>
    <input type="text" id="project-search" placeholder="جستجو پروژه ..." class="search-box">
  </div>

  <div class="main-content">
    <div class="projects-list">
      {% for project in projects %}
      <div class="project-card project-item">
        <h2 class="project-title">
          <a href="{% url 'taskflow:project_detail' project.pk %}" style="color:inherit; text-decoration:none;">{{ project.name }}</a>
        </h2>
      </div>
      {% endfor %}
    </div>
  </div>
</div> <!-- پایان projects-page -->

<!-- Modal for Create Project -->
<div id="create-project-modal" class="custom-modal-bg">
  <div class="custom-modal" dir="rtl">
    <span class="close-modal" id="close-create-project-modal" style="float:left;cursor:pointer;">&times;</span>
    <div id="modal-body-content">
      <!-- فرم اینجا لود می‌شود -->
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Search functionality
    $('#project-search').on('input', function() {
        var value = $(this).val().toLowerCase();
        $('.project-item').each(function() {
            $(this).toggle($(this).find('.project-title').text().toLowerCase().indexOf(value) > -1);
        });
    });

    // Open modal
    $('#open-create-project-modal, #open-create-project-modal-2').click(function(e) {
        e.preventDefault();
        $('body').addClass('modal-open');
        $.get("{% url 'taskflow:project_create' %}", function(data) {
            $('#modal-body-content').html(data);
            $('#create-project-modal').css('display', 'flex');
        });
    });

    // Close modal function
    function closeModal() {
        $('body').removeClass('modal-open');
        $('#create-project-modal').hide();
    }

    // Close modal handlers
    $(document).on('click', '.close-modal, #cancel-create-project', closeModal);
    $('#create-project-modal').click(function(e) {
        if (e.target === this) closeModal();
    });

    // Form submission
    $(document).on('submit', '#project-create-form', function(e) {
        e.preventDefault();
        var form = $(this);
        $.post(form.attr('action'), form.serialize(), function(data) {
            if ($(data).find('.project-form').length) {
                $('#modal-body-content').html(data);
            } else {
                closeModal();
                location.reload();
            }
        }).fail(function(xhr, status, error) {
            alert('خطا در ارسال فرم!');
        });
    });
});
</script>
{% endblock %}
